/* Styles de mise en page générale */
.container {
    max-width: 1200px;
    margin: 400px auto;
    margin-top: 400px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-50 {
    width: 50%;
    padding: 20px;
}

#web-projects {
    padding: 50px 20px;
    background-color: #f4f4f9;
}

.ast-container {
    flex-direction: column;
}

.section-intro {
    margin-top: 200px;
}

.section-intro h1 {
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 20px;
}

.section-intro p {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 40px;
}

/* Médias queries pour les petits écrans et les mobiles (moins de 768px) */
@media (max-width: 767px) {
    .section-intro {
        margin-top: 100px;
    }

    .section-intro h1 {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 20px;
    }

    .slider-text {
        max-width: 70%;
    }
}
